


.holder{
    top:10%;
    margin: 10px;
    border: 10px;
    padding: 10px;
    
}

.holders #income_holder{
    position: fixed;
    width: 580px;
    height: 680px;
    
}

.holders #balance_holder{
    position: fixed;
    width: 580px;
    height: 520px;
    left:610px;
    
}

.holder .imgHolder{
    position: absolute;
    height: 100%;
    opacity: 0.5;
}


.holder .imgHolder img{
    width: 100%;
    
}

.context{
    position: absolute;
    padding: 15px;
    width:100%;
    color: white;
    opacity: 100%;
    text-shadow: #343a40 2px 2px;
}


/*======================================*/

#income_holder #label{
    width:220px;
}

#balance_holder #label{
    width:100px;
}

table #num{
    width: 70px;
}



input{
    width: 70px;
}

html{
    background-image: url(background.jpg);
     background-position: center;
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
    color:black;
    
}


/*
    <div class="imgHolder">
        <img class="background" src="background.jpg">
    </div>


.background{
    
    position:fixed;
    top:-125px;
    left:0px;
    clip: rect(123px,3000px,927px,0px);
    
}
*/

